{% extends 'accueil.html.twig' %}

{% block title %}Entree!{% endblock %}

{% block body %}
    <div class="row">
        <div class="container col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">Gestion de la liste des achats</div>
                <div class="card-body">
                    <table class="table table-striped table-dark">
                        <tr>
                            <th>Identifiant</th>
                            <th>Date</th>
                            <th>Quantite</th>
                            <th>Produit</th>
                        </tr>
                        {% for e in entrees %}
                            <tr>
                                <td>{{ e.id }}</td>
                                <td>{{ e.dateE|date('d/m/y') }}</td>
                                <td>{{ e.qtE }}</td>
                                <td>{{ e.produit }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="container col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">Formulaire de gestion des achats</div>
                <div class="card-body">
                    {{ form(form) }}
                    <!-- { { form_start(form, {'action': path('target_route'), 'method': 'GET'}) } } -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
