{% extends 'accueil.html.twig' %}

{% block title %}Sortie!{% endblock %}

{% block body %}
    <div class="row">
        <div class="container col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">Gestion de la liste des ventes</div>
                <div class="card-body">
                    <table class="table table-striped table-dark">
                        <tr>
                            <th>Identifiant</th>
                            <th>Date</th>
                            <th>Quantite vendue</th>
                            <th>Produit</th>
                        </tr>
                        {% for s in sorties %}
                            <tr>
                                <td>{{ s.id }}</td>
                                <td>{{ s.dateS|date('d/m/y') }}</td>
                                <td>{{ s.qtS }}</td>
                                <td>{{ s.produit }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="container col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">Formulaire de gestion des ventes</div>
                <div class="card-body">
                    {% if error_message is defined %}
                        <div class="alert alert-danger">{{ error_message }}</div>
                    {% endif %}
                    {{ form(form) }}
                    <!-- { { form_start(form, {'action': path('target_route'), 'method': 'GET'}) } } -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
